<div class="container2">
    <canvas id="oilChart" width="1000" height="450"></canvas>
		<div class="com1"> 
			<label>Label</label>
			<input class="input1" type="text" id="Titel" value="Comparing Student Performance">
            <label>Student1</label>
			<input class="input1" type="text" id="Titel2" value="Name1">
            <label>Student2</label>
			<input class="input1" type="text" id="Titel3" value="Name 2">
		</div>
		<div class="com1">
			<label>Subject</label>
			<input type="text" class="input1" id="label1" value="a">
			<input type="text" class="input1" id="label2" value="b">
			<input type="text" class="input1" id="label3" value="c">
			<input type="text" class="input1" id="label4" value="d">
			<input type="text" class="input1" id="label5" value="e">
		</div>
		<div class="com1">
			<label>Marks-1</label>
			<input id="input" class="input1" type="number" value="75">
			<input id="input2" class="input1" type="number" value="70">
			<input id="input3" class="input1" type="number" value="80">
			<input id="input4" class="input1" type="number" value="60">
			<input id="input5" class="input1" type="number" value="80">
		</div>
        <div  class="com1">
			<label>Marks-2</label>
			<input id="inputt" class="input1" value="65">
			<input id="inputt2" class="input1" value="60">
			<input id="inputt3" class="input1" value="70">
			<input id="inputt4" class="input1" value="90">
			<input id="inputt5" class="input1" value="75">
		</div>
		<div class="com1">
			<label  class="input2">Color Picker1:</label>
			<input type="color" id="favcolor1" value="#FF6384">
			<label  class="input2">Color Picker2:</label>
			<input type="color" id="favcolor2" value="#63FF84">
		</div>
		<div class="com1">
			<button class="btn" onclick="setval()">Creat</button>
			<button  class="btn" onclick="handleDownload()">Download</button>
		</div>
</div>