<div class="container2">
    <canvas id="oilChart" width="1000" height="450"></canvas>
		<div class="com1"> 
            <label>Label</label>
			<input class="input1" type="text" id="Titel" value="Transparant-Graph">
		</div>
		<div class="com1">
			<input type="text" class="input1" id="label1" value="a">
			<input type="text" class="input1" id="label2" value="b">
			<input type="text" class="input1" id="label3" value="c">
			<input type="text" class="input1" id="label4" value="d">
		</div>
		<div class="com1">
			<input id="input" class="input1" type="number" value="1200">
			<input id="input2" class="input1" type="number" value="1700">
			<input id="input3" class="input1" type="number" value="800">
			<input id="input4" class="input1" type="number" value="200">
		</div>

		<div class="com1">
			<button class="btn" onclick="setval()">Creat</button>
			<button  class="btn" onclick="handleDownload()">Download</button>
		</div>
</div>