<div class="container2">
  <canvas id="myChart" width="1000" height="450"></canvas>
<div class="com1"> 
  <label>Label1</label>
  <input class="input1" type="text" id="Titel2" value="Label1">
  <label>Label2</label>
  <input class="input1" type="text" id="Titel3" value="Label2">
  <label>Label3</label>
  <input class="input1" type="text" id="Titel4" value="Label3">

</div>
<div class="com1">
  <label>Chart-Labels</label>
  <input type="text" class="input1" id="label1" value="a">
  <input type="text" class="input1" id="label2" value="b">
  <input type="text" class="input1" id="label3" value="c">
  <input type="text" class="input1" id="label4" value="d">
</div>

<div class="com1">
  <label>Value-1</label>
  <input id="input" class="input1" type="number" value="65">
  <input id="input2" class="input1" type="number" value="60">
  <input id="input3" class="input1" type="number" value="50">
  <input id="input4" class="input1" type="number" value="65">
</div>
<div  class="com1">
  <label>Value-2</label>
  <input id="inputt" class="input1" value="45">
  <input id="inputt2" class="input1" value="30">
  <input id="inputt3" class="input1" value="38">
  <input id="inputt4" class="input1" value="34">
</div>
<div  class="com1">
  <label>Value-2</label>
  <input id="inputt1" class="input1" value="55">
  <input id="inputt12" class="input1" value="45">
  <input id="inputt13" class="input1" value="70">
  <input id="inputt14" class="input1" value="20">
</div>
<div class="com1">
  <label  class="input2">Color Picker1:</label>
  <input type="color" id="favcolor1" value="#FF6384">
  <label  class="input2">Color Picker2:</label>
  <input type="color" id="favcolor2" value="#63FF84">
  <label  class="input2">Color Picker3:</label>
  <input type="color" id="favcolor3" value="#c45850">
</div>
  <div class="com1">
    <button class="btn" onclick="setval()">Creat</button>
    <button  class="btn" onclick="handleDownload()">Download</button>
  </div>
</div>