<div class="container2 com1" >
    <canvas id="speedChart"></canvas>
		<div>
            <label>Label1</label>
			<input type="text" class="input1" id="Titel" value="V1-speed(mph)">
            <label>Label2</label>
			<input class="input1" type="text" id="Titel3" value="V2-speed(mph)">
		</div>
        
		<div>
            <label> V1-SpeedData:</label>
			<input id="inputt" class="input1" value="3">
			<input id="inputt2" class="input1" value="5">
			<input id="inputt3" class="input1" value="2">
			<input id="inputt4" class="input1" value="7">
			<input id="inputt5" class="input1" value="5">
		</div>
        <div>
            <label> V2-SpeedData:</label>
			<input id="input" class="input1" value="0">
			<input id="input2" class="input1" value="2">
			<input id="input3" class="input1" value="4">
			<input id="input4" class="input1" value="8">
			<input id="input5" class="input1" value="2">
		</div>
		<div>
			<button class="btn" onclick="setval()">Creat</button>
			<button class="btn" onclick="handleDownload()">Download</button>
		</div>

</div>