<div class="container2">
    <canvas id="oilChart" width="1000" height="450"></canvas>
		<div class="com1"> 
			<label>Label1</label>
			<input class="input1" type="text" id="Titel" value="LineCurv-Graph">

		</div>
		<div class="com1">
			<label>Value-1</label>
			<input id="input" class="input1" type="number" value="75">
			<input id="input2" class="input1" type="number" value="70">
			<input id="input3" class="input1" type="number" value="80">
			<input id="input4" class="input1" type="number" value="60">
		</div>
		
		<div class="com1">
			<button class="btn" onclick="setval()">Creat</button>
			<button  class="btn" onclick="handleDownload()">Download</button>
		</div>
</div>