<div class="container2 com1" >
    <canvas id="oilChart"></canvas>
		<div>
            <label>Chart-Label:</label>
			<input type="text" class="input1" id="Titel" value="PieChart">
		</div>
		<div>
			<input type="text" class="input1" id="label1" value="a">
			<input type="text" class="input1" id="label2" value="b">
			<input type="text" class="input1" id="label3" value="c">
			<input type="text" class="input1" id="label4" value="d">
			<input type="text" class="input1" id="label5" value="e">
		</div>
		<div>

			<input id="input" class="input1" value="10">
			<input id="input2" class="input1" value="10">
			<input id="input3" class="input1" value="10">
			<input id="input4" class="input1" value="10">
			<input id="input5" class="input1" value="10">
		</div>
		<div>
			<label class="input2">Color Picker1:</label>
			<input type="color" id="favcolor1" value="#FF6384">
			<label class="input2">Color Picker2:</label>
			<input type="color" id="favcolor2" value="#63FF84">
			<label class="input2">Color Picker3:</label>
			<input type="color" id="favcolor3" value="#84FF63">
			<label class="input2">Color Picker4:</label>
			<input type="color" id="favcolor4" value="#8463FF">
			<label class="input2">Color Picker5:</label>
			<input type="color" id="favcolor5" value="#6384FF">
		</div>
		<div>
			<button class="btn" onclick="setval()">Creat</button>
			<button class="btn" onclick="handleDownload()">Download</button>
		</div>

</div>