<div class="container2">
    <canvas id="myChart" width="1000" height="450"></canvas>
  <div class="com1"> 
    <label>Label</label>
    <input class="input1" type="text" id="Titel2" value="Label1">
  </div>
  <div class="com1">
    <label>Chart-Labels</label>
    <input type="text" class="input1" id="label1" value="a">
    <input type="text" class="input1" id="label2" value="b">
    <input type="text" class="input1" id="label3" value="c">
    <input type="text" class="input1" id="label4" value="d">
  </div>
  
  <div class="com1">
    <label>Value-1</label>
    <input id="input" class="input1" type="number" value="65">
    <input id="input2" class="input1" type="number" value="60">
    <input id="input3" class="input1" type="number" value="50">
    <input id="input4" class="input1" type="number" value="65">
  </div>
  <div class="com1">
    <label  class="input2">Color Picker:</label>
    <input type="color" id="favcolor1" value="#63FF84">
  </div>
    <div class="com1">
      <button class="btn" onclick="setval()">Creat</button>
      <button  class="btn" onclick="handleDownload()">Download</button>
    </div>
  </div>